.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #44008b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(./img/background.jpg);
  background-size: cover;
}

.test {
  height: 100vh;
}

.signInPage {
  background-color: rgba(255,252,252,0.1);
  width: 60%;
  margin: 0 auto;
  height: 86vh;
  border-radius: 40px;
  min-width: auto;

}

.signUpPage {
  background-color: rgba(255,252,252,0.1);
  width: 60%;
  margin: 0 auto;
  height: 86vh;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.logInContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;

}

.loginBothContainer {
  margin: 0 auto;
  display: flex;
}

.loginLeftSide {
  background: url(./img/portrait.jpg);
  background-size: cover;
  background-position: center center;
  width: 15vw;
  height: 70vh;
  border-radius: 50px 0px 0px 50px;
  border-right: 2px solid black;
}

.loginRightSide {
  background: url(./img/login.jpg);
  background-size: cover;
  width: 38vw;
  height: 70vh;
  border-radius: 0 50px 50px 0;
}

.signInForm {
  display: inline-block;
  width: 100%;
  /* text-align: right; */
}

.signUpForm {
  display: inline-block;
  width: 100%;
}

.emailInput {
  margin: 0 auto;
  border: none;
  outline: none;
  border-radius: 20px;
  height: 2em;
  width: 30%;
  padding-left: 0.5em;
}

.passwordInput {
  margin: 6px auto;
  border: none;
  outline: none;
  border-radius: 20px;
  height: 2em;
  width: 30%;
  margin-right: 2rem;
  padding-left: 0.5em;
}

.nameField {
  margin: 6px auto;
  border: none;
  outline: none;
  border-radius: 20px;
  height: 2em;
  width: 20%;
  margin-right: 2rem;
  padding-left: 0.5em;
}

h4 {
  color: red;
  font-size: large;
}






